<div class="jumbotron" style="margin-top: 20px; margin-bottom: 0px">
    <h1 class="display-4">App Info</h1>
    <p class="lead">This is an explanation about i-Mage App</p>
    <hr class="my-4">
    <p>What can this app do</p>
        <ul>
            <li>You can write your idea and add it with an image</li>
            <li>Image is uploaded from your local directory</li>
            <li>Finally it will preview an image after you upload it, and you can press <strong>create idea</strong>, once you feel sufficient with your idea.</li>
        </ul>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/ideas" role="button" style="color: white">Write Ideas</a>
    </p>
</div>

